{% for message in get_flash_bag().get('errors') %}
    <span class="flash-error" style="color:red">{{ message }}</span><br>
{% endfor %}

{% for message in get_flash_bag().get('success') %}
    <span class="flash-success" style="color:green">{{ message }}</span><br>
{% endfor %}