{% block content %}
    <h3>Friend Requests</h3>
    <ol>
        {% for friendRequest in friendRequests %}
            <li>
                <a href="">{{ friendRequest.nickname }}</a>
                <form action="/dashboard/friendrequest/accept" method="post">
                    <button name="from-nickname" type="submit" value={{ friendRequest.nickname }}>Accept</button>
                </form>
                <form action="/dashboard/friendrequest/decline" method="post">
                    <button name="from-nickname" type="submit" value={{ friendRequest.nickname }}>Decline</button>
                </form>
            </li>
        {% endfor %}
    </ol>
{% endblock %}