{% block content %}
<h3>Friends List</h3>
    <div class="friends-list">
        <ol>
            {% for friend in friendsList %}
                <li class="friend">
                    <a href="/user/{{ friend.nickname }}" class="friend-btn">{{ friend.nickname }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}