{% block content %}
<h3 class="header-text">Friends List</h3>
    <div class="friends-list">
        {% if friendsList|length == 0 %}
            <div class="text-center">
                <span>There's nothing here.</span>
            </div>
        {% else %}
        <ol>
            {% for friend in friendsList %}
                <li class="friend">
                    <a href="/user/{{ friend.nickname }}" class="friend-btn">{{ friend.nickname }}</a>
                </li>
            {% endfor %}
        </ol>
        {% endif %}
    </div>
{% endblock %}