{% block content %}
    <h3 class="header-text">Friend Requests</h3>
    <div class="friend-requests">
        {% if friendRequests|length == 0 %}
            <div class="text-center">
                <span>There's nothing here.</span>
            </div>
        {% endif %}
        <div class="row">
            {% for friendRequest in friendRequests %}
                <div class="col-sm-3 card-wrapper">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title">
                                <a class="friend-request-nickname" href="/user/{{ friendRequest.nickname }}">{{ friendRequest.nickname }}</a>
                            </h5>
                            <form class="inline" action="/dashboard/friendrequest/accept" method="post">
                                <button name="from-user-id" class="btn btn-outline-success" type="submit" value={{ friendRequest.fromUserId }}>
                                    Accept
                                </button>
                            </form>
                            <form class="inline" action="/dashboard/friendrequest/decline" method="post">
                                <button name="from-user-id" class="btn btn-outline-danger" type="submit" value={{ friendRequest.fromUserId }}>
                                    Decline
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}