{% extends 'Layout.html.twig' %}

{% block content %}
    {% include 'FlashMessages.html.twig' %}
    <h3 class="welcome">Welcome to CryptoSim!</h3>
    {#<script src="websocketjs.js"></script>#}
    {#<script src="autobahn-js.js"></script>#}
    {#<script src="websocket-conn.js"></script>#}
{% endblock %}