{% extends 'Layout.html.twig' %}

{% block content %}
    <h3 class="page-not-found">All of the group invites have not been responded to yet!</h3>
    <a href="/dashboard">Go back to dashboard</a>
{% endblock %}