{% block content %}
<h3 class="header-text">Group Invites</h3>
    <div id="group-invites">
        {% if groupInvites|length == 0 %}
            <div class="text-center">
                <span>There's nothing here.</span>
            </div>
        {% else %}
        <ol>
            {% for groupInvite in groupInvites %}
                <li class="group-invite">
                    <span>Group Invite from {{ groupInvite.fromUsername }}</span>
                    <button type="button" class="accept-group-invite" data-groupid="{{ groupInvite.groupId }}">Accept</button>
                    <button type="button" class="decline-group-invite" data-groupid="{{ groupInvite.groupId }}">Decline</button>
                </li>
            {% endfor %}
        </ol>
        {% endif %}
    </div>
{% endblock %}