{% extends 'Layout.html.twig' %}

{% block content %}
    {% include 'GenericHeader.html.twig' %}
    {% include 'FlashMessages.html.twig' %}

    <div class="login-container text-center">
        <h3 class="login-text">Log In</h3>
        <form method="post" action="">
            <label for="nickname">Nickname</label>
            <input type="text" name="nickname" id="nickname"><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"><br>
            <input type="hidden" name="token" value="{{ get_token('login') }}"><br>
            {#<input class="login-button" type="submit" value="Log in">#}
            <button class="login-button btn btn-primary" type="submit">Log In</button>
        </form>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/Header.css">
    <link rel="stylesheet" type="text/css" href="/css/Login.css">
{% endblock %}