{% extends 'Layout.html.twig' %}

{% block content %}
    {% include 'GenericHeader.html.twig' %}
    {% include 'FlashMessages.html.twig' %}

    <div class="container-fluid login-container text-center">
        <h3 class="login-text">Log In</h3>
        <form method="post" action="">
            <div class="login-form-content">
                <div class="row justify-content-md-center">
                    <div class="col-md-4 col-xl-3">
                        <label for="nickname">Nickname</label>
                        <input class="form-control" type="text" name="nickname" id="nickname">
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-4 col-xl-3">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="login-button btn btn-lg btn-secondary" type="submit">Log In</button>
                </div>
                <input type="hidden" name="token" value="{{ get_token('login') }}">
            </div>
        </form>
    </div>

    <link rel="stylesheet" type="text/css" href="/css/Header.css">
    <link rel="stylesheet" type="text/css" href="/css/Login.css">
{% endblock %}