{% block content %}
    <h3 class="portfolios-header header-text">Portfolios</h3>
    <a href="/portfolios/create" class="add-portfolio"><i class="fas fa-plus"></i></a>
<div class="portfolios">
    {% if portfolios|length == 0 %}
        <div class="text-center">
            <span>There's nothing here.</span>
        </div>
    {% endif %}
    <div class="row">
        {% for portfolio in portfolios %}
            <div class="col-3-sm card-wrapper">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ portfolio.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">${{ portfolio.worthInUSD }}</h6>
                        {% if isDashboard %}
                        <a href="/play/{{ portfolio.id }}" class="btn btn-outline-secondary">Open</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}