{#TODO - Rename this file to Dashboard.html.twig#}
{% extends 'Layout.html.twig' %}

{% block content %}
    <h2 class="welcome-user">Welcome, {{ nickname }}</h2>
    {% include 'FriendRequests.html.twig' %}
    {% include 'FriendsList.html.twig' %}
    {% include 'Portfolios.html.twig' %}
{% endblock %}