{% extends 'Layout.html.twig' %}

{% block content %}
    <h3 class="welcome">Profile: {{ publicUser.nickname }}</h3>
    {% if not isUserOnFriendsList %}
        {% include 'SendFriendRequest.html.twig' %}
    {% endif %}
{% endblock %}