{% extends 'Layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h1 class="welcome text-center">{{ publicUser.nickname }}</h1>
                <div class="text-center">
                    {% if isUserOnFriendsList %}
                        {% include 'UsersAreFriends.html.twig' %}
                    {% elseif isFriendRequestAwaitingResponse %}
                        {% include 'FriendRequestSent.html.twig' %}
                    {% else %}
                        {# Not friends #}
                        {% include 'SendFriendRequest.html.twig' %}
                    {% endif %}
                </div>
                <h6>Country: {{  publicUser.country }}</h6>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12 section-header">
                        {% include 'Portfolios.html.twig' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {# TODO - Display friend requests here #}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Include resources #}
    <link rel="stylesheet" type="text/css" href="/css/PublicProfile.css">
    {% include 'resources/Portfolios.html.twig' %}
    {% include 'resources/Dashboard.html.twig' %}
{% endblock %}



