{% block content %}
    <div id="crypto-data" style="max-height: 50%; overflow: auto;">

    </div>

    <hr>

    <div class="portfolio-content">
        <h1 style="text-align: center">Portfolio</h1>
    </div>

    <hr>

    <script src="autobahn-js.js"></script>
    <script src="websocket-conn.js"></script>
{% endblock %}