/.env
/.vscode
/config/*
/data/*
/logs/*
.DS_Store
/www/node_modules/*
/www/vendor/*
/www/scripts/ca.pem
/www/scripts/hidden_keys.php
/www/sql/hidden_data.php
/www/scripts/.php_cs.cache
/www/config.ini
data.env
www/TracyVariable.php
www/tests/_support/_generated
.env
www/secrets.env
