.response-buttons {
    height: 25px;
    width: 25px;
    padding: 0px 0px 0px 0px;
}

.inline {
    display: inline;
}

.friend-request {
    margin-left: 1rem;
}

.friend-request-nickname {
    font-size: 22px;
}