.underline {
    text-decoration: underline;
}

.homepage-content {
    /*background-color: lightgrey;*/
    height: 100%;
}

.homepage-signup-container {
    padding-bottom: 1rem;
}

.homepage-buttons {
    padding-top: 2rem;
}

.homepage-button {
    width: 8rem;
    border-color: black;
}

.intro-text {
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}
body {
    background-image: url('../images/bank-bitcoin-change-844124.jpg');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

html {
    margin: 0;
    height: 100%;
}

.container {
    margin-top: 10rem;
}