.create-account-text, label {
    margin-bottom: 1rem;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.register-button {
    margin-top: 1rem;
}

body {
    background-image: url('../images/bank-bitcoin-change-844124.jpg');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

html {
    margin: 0;
    height: 100%;
}